<%-include("./partials/head")%>
<!-- cargas de css -->
<%-include("./partials/closeHead")%>

<!-- HTML -->
<div class="w-75 m-auto contenedor mt-3">
    <h1>INDEX</h1>
    <h2>Bienvenido <%=nombre%>
    </h2>
    <%-include("./partials/botonLogout") %>
</div>


<!-- cargas de js -->
<%-include("./partials/foot")%>